.about {
  margin-bottom: 84px;
}
.about__text {
  margin-bottom: 26px;
  text-align: center;
}
.about-list__title {
  margin-bottom: 0;
  color: var(--about-title-color);
  text-align: center;
}
.about-list__text {
  text-align: center;
}
