:root {
  --main-text-color: #939393;
  --second-text-color: #000;
  --paragraf-color: #8f95a5;
  --about-title-color: #2a3246;
  --btn-bg-color: #263238;
  --bg-color: #fff;
  --line-color: #c4c4c4;
  --section-bg-color: #f5f5f5;
  --pricing-color: #546269;
  --pricing-btn-bg-color: #eeeeee;

  --main-font-family: Poppins, sans-serif;
}
